# Data files, until ok to release data
data/
vortexclust/__pycache__
vortexclust/analysis/__pycache__
vortexclust/core/__pycache__
vortexclust/io/__pycache__
vortexclust/models/__pycache__
vortexclust/visualization/__pycache__
vortexclust/workflows/__pycache__

output/
output_gui/*

packages_vortexclust.dot
packages_vortexclust_colored.dot
pkg_deps.py

# Default ignored files
/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.ipynb_checkpoints/
.idea
/gui/
